// --------------------------------------
// Layout
// --------------------------------------

// Base font color
html, body {
  color: @darkGray;
  background: @white;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: @sans-serif;
}

.unselectable ::selection {
  background: transparent;
}

#main {
  position: relative;
  border-top: 1px solid @headerBorder;
  .clearfix;

  #panel-divider {
    position: absolute;
    top: 0;
    left: @panel_resizer_left;
    bottom: 0;
    width: @panel_resizer_width;
    cursor: ew-resize;
    background: transparent;
    z-index: 1;
  }

  #panel-one {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: @panel_1_width;
    background: @sidebarBg;
    color: @sidebarText;
    border-right: 1px solid rgba(85, 85, 85, 0.2);
    .box-shadow(inset 0 0 8px 2px rgba(0, 0, 0, .22));

    ::selection,
    &::selection {
      background: transparent;
    }
  }

  #panel-two {
    position: absolute;
    top: 0;
    left: @panel_1_width + 1;
    bottom: 0;
    width: @panel_2_width;
    border-right: 1px solid @border;
  }

  #panel-three {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: @panel_resizer_left;

    .spin-wrap {
      position: relative;
      top: 120px;

      .spinner {
        margin: 0 auto;
        width: 40px;
        height: 40px;
      }

      p {
        position: relative;
        line-height: 1em;
        margin: 0;
        text-align: center;
        font-size: 13px;
        color: @lightGray;
      }
    }
  }

  #panel-two,
  #panel-three {
    .view-filler {
      font-size: 18px;
      padding: 20px 20px;

      p {
        line-height: 1;
        margin: 0;
      }
    }
  }
}