// Base font color
html, body {
  color: @lightBlack;
}

#main {
  background: #F6F6F6;
  position: fixed;
  left: 185px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 184px;
  z-index: 200;
  background: @lightBlack;
  border-right: 1px solid rgba(85, 85, 85, 0.2);
}