// --------------------------------------
// Layout
// --------------------------------------

@media print {
  html, body { overflow: visible !important; }

  #main { height: auto !important; }

  .scrollable {
    overflow-x: auto !important;
    overflow-y: auto !important;

    &::-webkit-scrollbar-thumb { display: none; width: 0; }
  }

  body > header,
  #panel-one,
  #panel-two,
  #panel-divider { display: none !important; }

  #panel-three {
    position: static !important;
    border-top: none !important;
  }

  .ticket-details {
    .edit-options { display: none !important; }

    .comments-wrapper {
      .body { margin-left: 0 !important; }
      .comments-list { margin: 0 40px !important; }

      .avatar,
      .edit-actions,
      .comment-form { display: none !important; }

      .comment {
        padding: 14px 0 0 0;
        page-break-inside: avoid;
        border-bottom: none;
        border-top: 1px solid @border;

        &:first-child { border-top: none; }
      }

      .commentHeader {
        padding-bottom: 4px !important;
        margin-bottom: 8px !important;

        h5 { font-weight: 400 !important; }
      }
    }

    .ticket-meta {
      .empty,
      .tag-widget,
      .user-widget { display: none !important; }
    }
  }
}
