// --------------------------------------
// Global Settings
// --------------------------------------

// --------------------------------
// Layout

@panel_1_width: 250px;
@panel_2_width: 410px;
@panel_resizer_left: @panel_1_width + @panel_2_width;
@panel_resizer_width: 4px;

// --------------------------------
// Z-Index List

@zindexDropdown: 1000;

// --------------------------------
// Colors

// Black
@black: #292724;
@lightBlack: #222;

// White
@white: #ffffff;

// Header
@headerLight: #ebebeb;
@headerDark: #dadada;

@headerBorder: #393939;

@headerButtonsLight: #f6f6f6;
@headerButtonsDark: #c5c5c5;

// Sidebar
@sidebarBg: #424242;
@sidebarText: #cacaca;
@sidebarSeperator: #373737;

// Text
@darkGray: #0e2b3c;
@lightGray: #9d9d9d;
@ashGray: #f7f7f7;

// Main
@mainHeaderBg: #f0f0f0;
@border: #e1e2e9;
@borderDark: #ededed;
@active: #3598d0;
@activeBright: #82cdfc;

// Label Colors
@lightOrange: #f1be36;
@blue: #26a8fa;
@red: #fa5746;
@green: #0cb11c;
@brightGreen: #C7F464;
@darkGreen: #06510d;
@teal: #4ECDC4;
@pink: #F56991;
@brightPink: #f46ff2;
@yellow: #fcf422;
@purple: #f204f2;
@darkBlue: #0471f6;

// Notifications
@notifyBG: #fef7e3;
@notifyBorder: #f5eac0;
@notifyRed: #f47159;

// Buttons
@baseButton: #3598d0;
@cancelButton: #f0f0f0;