// --------------------------------------
// Typeography
// --------------------------------------

@sans-serif: "ff-dagny-web-pro", Helvetica, Arial, sans-serif;

p {
  line-height: 1.5;
}

a {
  color: @active;
}