// Typeography

.marker {
  font-family: "skippy-sharp", "cursive";
  font-weight: 400;
  font-size: 27px;
  line-height: 1em;
  color: #222;
}

.written {
  font-family: "museo-slab", "American Typewriter", "serif";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5em;
  color: #222;
}