!!! html
html
  head
    title TxSSC Ticket System
    script(src='js/jquery-1.7.1.js')
    script(src='js/underscore.js')
    script(src='js/mustache.js')
    script(src='js/backbone.js')
    script(src='js/app.js')

    meta(content=token, name="X-Auth-Token")

  body
    #container
