!!! html
html(manifest="manifest.appcache")
  head
    title TxSSC Ticket System

    - if (process.env.TYPEKIT)
      script(src="http://use.typekit.com/#{process.env.TYPEKIT}.js")
      script(type='text/javascript')
        try{Typekit.load();}catch(e){}

    - if (process.env.NODE_ENV === 'production')
      script(data-main="js/release/main", src="js/release/require-jquery.js")
    - else
      script(data-main="js/main", src="js/libs/require/require-jquery.js")

    link(rel="stylesheet", href="css/foundation.2.1.4.min.css")
    link(rel="stylesheet", href="css/app.css")

    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="X-Auth-Token", content=token)

    script(type='text/javascript')
      var currentUser = !{currentUser};
      var admins = !{admins};

  body

    #top
      #options
        .container.clearfix

      #tabs
        .container.clearfix

    #main.container(role='main')