!!! html
html(manifest=(process.env.NODE_ENV === 'production' ? 'manifest.appcache': ''))
  head
    title TxSSC Ticket System

    link(rel="stylesheet", href="css/foundation.2.1.4.min.css")
    link(rel="stylesheet", href="css/app.css")

    meta(name="viewport", content="width=device-width,initial-scale=1")

    - if (process.env.TYPEKIT)
      script(src="http://use.typekit.com/#{process.env.TYPEKIT}.js")
      script(type='text/javascript')
        try{Typekit.load();}catch(e){}

  body

    .container

      #main(role="main")

        .row
          .eight.columns.offset-by-two.shadow.paper
            span.tack
            #loginForm
              h2.marker Login to begin
              ul
                li
                  a.btn-auth.btn-txssc.large(href='/login/oauth/authorize', title='Sign in with TxSSC') Sign in with <b>TxSSC</b>