
/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Gradients
:: Effects
:: Typeography
:: Header
:: Ticket Structure
:: Ticket Items
:: Ticket Admin
:: Comments
:: Markdown Styles
:: Forms
:: Comment Form
:: Ticket Form
:: Login Form
:: CSS3 Social Login Buttons
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

html, body {
  background: #000 url('/img/assets/black_linen_v2.png');
  color: #222;
}

#border {
  background: url('/img/assets/header.png') repeat-x;
  height: 29px;
  position: relative;
  z-index: 101;
}

.container { position: relative; z-index: 100; }

.left { float: left; }
.right { float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

::-webkit-input-placeholder { color: #b2b2b2; }
:-moz-placeholder { color: #b2b2b2; }

#main {
  position: relative;
  margin: 100px 0 50px 0;
  z-index: 100;
}

input[type="text"] {
  border: 1px solid #cfd0d0;
  border: 1px solid rgba(207,208,208,0.7);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"] { outline: none; }
textarea { resize: none; }

/* -----------------------------------------
   Gradients
----------------------------------------- */

.green {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.yellow {
  background: rgb(234,241,112);
  background: -moz-linear-gradient(top,  rgba(234,241,112,1) 0%, rgba(233,239,134,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,241,112,1)), color-stop(100%,rgba(233,239,134,1)));
  background: -webkit-linear-gradient(top,  rgba(234,241,112,1) 0%,rgba(233,239,134,1) 100%);
  background: -o-linear-gradient(top,  rgba(234,241,112,1) 0%,rgba(233,239,134,1) 100%);
  background: -ms-linear-gradient(top,  rgba(234,241,112,1) 0%,rgba(233,239,134,1) 100%);
  background: linear-gradient(top,  rgba(234,241,112,1) 0%,rgba(233,239,134,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf170', endColorstr='#e9ef86',GradientType=0 );
}

.red {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}


/* -----------------------------------------
   Effects
----------------------------------------- */

.shadow {
  -moz-box-shadow: 4px 1px 6px 3px #222222;
  -webkit-box-shadow: 4px 1px 6px 3px #222222;
  box-shadow: 4px 1px 6px 3px #222222;
  filter: progid:DXImageTransform.Microsoft.Shadow(strength=4, direction=135, color='#222222');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=4, Direction=135, Color='#222222')";
}

.lightShadow {
  -webkit-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.75);
}

.paper { background: #fff url('/img/assets/handmadepaper.png'); }

/* -----------------------------------------
   Typeography
----------------------------------------- */

p { line-height: 1.5em; }

.marker {
  font-family: "skippy-sharp", "cursive";
  font-weight: 400;
  font-size: 27px;
  line-height: 1em;
  color: #222;
}

.written {
  font-family: "museo-slab", "American Typewriter", "serif";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5em;
  color: #222;
}

/* -----------------------------------------
   Header
----------------------------------------- */

#top {
  position: relative;
  width: 100%;
  z-index: 200;
}

  #options {
    position: relative;
    width: 100%;
    height: 20px;
    z-index: 201;
    background: rgb(174,175,175);
    background: -moz-linear-gradient(top,  rgba(174,175,175,1) 0%, rgba(216,216,216,1) 30%, rgba(216,216,216,1) 70%, rgba(174,175,175,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,175,175,1)), color-stop(30%,rgba(216,216,216,1)), color-stop(70%,rgba(216,216,216,1)), color-stop(100%,rgba(174,175,175,1)));
    background: -webkit-linear-gradient(top,  rgba(174,175,175,1) 0%,rgba(216,216,216,1) 30%,rgba(216,216,216,1) 70%,rgba(174,175,175,1) 100%);
    background: -o-linear-gradient(top,  rgba(174,175,175,1) 0%,rgba(216,216,216,1) 30%,rgba(216,216,216,1) 70%,rgba(174,175,175,1) 100%);
    background: -ms-linear-gradient(top,  rgba(174,175,175,1) 0%,rgba(216,216,216,1) 30%,rgba(216,216,216,1) 70%,rgba(174,175,175,1) 100%);
    background: linear-gradient(top,  rgba(174,175,175,1) 0%,rgba(216,216,216,1) 30%,rgba(216,216,216,1) 70%,rgba(174,175,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeafaf', endColorstr='#aeafaf',GradientType=0 );
    border-bottom: 1px solid #333;
    -webkit-box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 6px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 6px rgba(50, 50, 50, 0.75);
  }

  #tabs {}

    header.row {
      position: relative;
      z-index: 200;
    }

      header nav {
        position: absolute;
        width: 100%;
      }

    header ul { margin: 0; }

      header li {
        position: relative;
        background: #fff;
        float: left;
        margin: 0 1em 0 0;
        padding: 8px 0 12px 0;
        width: 138px;
        text-align: center;
        color: #222;
        cursor: pointer;
      }

        header li:last-child { margin-right: 0; }

        header li.pullTab { padding: 0; }

        header ul#assignees {
          display: none;
          background: #fff;
          padding: 0;
          z-index: 300;
          margin: 0;
        }

          header li.pullTab span.tab { display: block; }

          header li.assign {
            margin: 0;
            padding: 8px 10px;
            width: 118px;
            border-bottom: 1px solid #cfd0d0;
            border-bottom: 1px solid rgba(207,208,208,0.7);
            cursor: move;
          }

            header li.assign span { display: block; }

            header li.assign span.name {
              float: left;
              margin-right: 6px;
              line-height: 41px;
            }

            header li.assign span.miniAvatar { float: right; }


/* -----------------------------------------
   Ticket Structure
----------------------------------------- */

/* TEMP Nasty looking notification class */
.notify {
  background-color: yellow;
}

.ticket {
  position: relative;
  margin-bottom: 50px;
}

  .ticket .avatar a {
    display: block;
    position: relative;
    width: 67px;
    padding: 5px;
    text-align: center;
    z-index: 200;
  }

    .ticket .avatar a img {
      display: block;
      width: 65px;
      height: 65px;
      margin: 0 auto 4px auto;
      border: 1px solid #cfd0d0;
      border: 1px solid rgba(207,208,208,0.7);
      z-index: 201;
    }

    .ticket .avatar a span {
      display: block;
      font-weight: 700;
    }

  .ticket .ticketInfo { z-index: 300; }

    .ticketInfo.hover { cursor: pointer; }

    .ticket .ticketHeader { padding: 10px 20px 8px 20px; }

      .ticketHeader .ticketName h2 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 1.5em;
      }

      .ticketHeader .ticketName span.timestamp {
        font-size: 14px;
        color: #626262;
      }

      .ticketHeader ul { margin-bottom: 0; }

        .ticketHeader ul li {
          float: left;
          margin: 0 10px 0 0;
        }

          .ticketHeader li:last-child { margin-right: 0; }

    .ticket .ticketBody {
      width: 78%;
      margin: 0 20px;
      padding-top: 12px;
      border-top: 1px solid #cfd0d0;
      border-top: 1px solid rgba(207,208,208,0.7);
    }

      .ticketBody ul.ticketAdmin {
        position: absolute;
        right: 20px;
      }

/* -----------------------------------------
   Ticket Items
----------------------------------------- */

span.miniAvatar {
  position: relative;
  display: block;
  padding: 2px;
  background: #fff;
  border: 1px solid #cfd0d0;
  border: 1px solid rgba(207,208,208,0.7);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

  span.miniAvatar figure.poof {
    display:block;
    position: absolute;
    bottom: -15px;
    right: -10px;
    width: 32px;
    height: 32px;
    background: url('/img/assets/poof.png') no-repeat 0 0;
  }

  span.miniAvatar img {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #cfd0d0;
    border: 1px solid rgba(207,208,208,0.7);
  }

span.tape {
  display: block;
  width: 51px;
  height: 47px;
  position: absolute;
  top: -17px;
  left: -22px;
  background: url('/img/assets/tape.png') top left no-repeat;
  z-index: 202;
}

span.tack {
  display: block;
  position: absolute;
  width: 29px;
  height: 26px;
  top: -15px;
  left: -8px;
}

  span.tack.read { background: url('/img/assets/tack.png') no-repeat; }
  span.tack.unread { background: url('/img/assets/tack-red.png') no-repeat; }

/* Ticket Meta */

.ticketInfo ul.ticketMeta {
  position: absolute;
  bottom: 12px;
  right: 20px;
  margin: 0;
  height: 24px;
}

  .ticketInfo ul.ticketMeta li {
    float: right;
    margin: 0 0 0 12px;
  }

    ul.ticketMeta li.chat {
      width: 24px;
      height: 22px;
      background: url('/img/assets/08-chat.png') no-repeat;
      color: #fff;
      font-size: 10px;
      line-height: 1.75em;
      text-align: center;
    }

    ul.ticketMeta li.gears {
      position: relative;
      width: 20px;
      height: 23px;
      background: url('/img/assets/gears.png') no-repeat;
      cursor: pointer;
    }

      ul.ticketMeta li.gears ul {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid rgba(85,85,85,0.4);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: rgb(250,250,250);
        background: -moz-radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 30%, rgba(220,220,220,1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%,rgba(250,250,250,1)), color-stop(100%,rgba(220,220,220,1)));
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 30%,rgba(220,220,220,1) 100%);
        background: -o-radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 30%,rgba(220,220,220,1) 100%);
        background: -ms-radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 30%,rgba(220,220,220,1) 100%);
        background: radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 30%,rgba(220,220,220,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dcdcdc',GradientType=1 );
      }

        ul.ticketMeta li.gears ul li {
          width: 100px;
          margin: 0 4px;
          padding: 4px 8px;
          border-bottom: 1px solid rgba(120,120,120,0.4);
          border-top: 1px solid rgba(235,235,235,0.3);
        }

          ul.ticketMeta li.gears ul li:first-child { border-top: none; }
          ul.ticketMeta li.gears ul li:last-child { border-bottom: none; }

/* -----------------------------------------
   Ticket Admin
----------------------------------------- */

#ticketOptions {
  z-index: 299;
  margin-bottom: 0;
}

#ticketOptions li {
  float: left;
  margin: 0 2em 0 0;
  padding: 0.6em 1.8em;
  font-size: 16px;
  color: #222;
  cursor: pointer;
}

  #ticketOptions li:last-child { margin-right: 0; }


/* -----------------------------------------
   Comments
----------------------------------------- */

.comment { margin-bottom: 35px; }

  .comment .commentBody { position: relative; }

    .commentBody .commentAvatar {
      float: left;
      padding: 8px;
    }

    .commentBody .commentInfo {
      float: left;
      padding: 8px 0 8px 8px;
      width: 72%;
    }

      .commentInfo h5 {
        font-size: 14px;
        font-weight: 600;
      }

      .commentInfo p { line-height: 1.5em; }

      .commentInfo div p:last-child { margin-bottom: 0; }
      .commentInfo div p:first-child { margin-top: 0; }

    .commentBody span.commentTime {
      display: block;
      position: absolute;
      bottom: 12px;
      right: 12px;
      color: #626262;
      font-size: 12px;
    }

    .commentBody ul.commentOptions {
      position: absolute;
      top: 8px;
      right: 8px;
    }

      .commentBody ul.commentOptions li {
        cursor: pointer;
        float: left;
        margin: 0 0 0 12px;
      }

        .commentBody ul.commentOptions li.edit {
          width: 15px;
          height: 14px;
          background: url('/img/assets/pencil.png') no-repeat;
        }

        .commentBody ul.commentOptions li.delete {
          font-family: Arial, sans-serif;
          color: #000000;
          font-size: 22px;
          font-weight: bold;
          line-height: 11px;
          text-shadow: 0 1px 0 #ffffff;
        }


/* -----------------------------------------
   Markdown Styles
----------------------------------------- */

.md > h2:first-child, .md > h1:first-child, .md > h1:first-child + h2 {
  border: 0;
  margin: 0;
  padding: 0;
  border-image: initial;
}

.md > :first-child { margin-top: 0!important; }

.md h1 {
  margin: 15px 0;
  padding-bottom: 2px;
  font-size: 24px;
  border-bottom: 1px solid #EEE;
}

.md h2 {
  margin: 20px 0 10px 0;
  font-size: 18px;
}

.md h3 {
  margin: 20px 0 10px 0;
  padding-bottom: 2px;
  font-size: 14px;
  border-bottom: 1px solid #DDD;
}

.md p { margin: 1em 0; }

  .md p strong { font-weight: 700; }

.md pre {
  margin: 0 0 18px 0;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-image: initial;
}

 .md pre code { border: none; }

.md code, .md tt {
  margin: 0 2px;
  padding: 2px 5px;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  background-color: #F8F8F8;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-image: initial;
}

  .md code, .md pre { font: 12px 'Bitstream Vera Sans Mono','Courier', monospace; }

.md > ul, .md > .document > ul, .md > ol, .md > .document > ol {
  margin-top: 21px;
  margin-left: 36px;
  list-style: disc;
}

  .md ul, .md ol { margin: 15px 0 15px 25px; }

    .md ul li, .md ol li {
      margin-top: 7px;
      margin-bottom: 7px;
    }

    .md ul li > :first-child, .md ol li > :first-child { margin-top: 0; }

    .md ul li > :last-child, .md ol li > :last-child { margin-bottom: 0; }


/* -----------------------------------------
   Forms
----------------------------------------- */

form .outerWrap {
  padding: 8px;
  background: #fff;
  border: 1px solid #cfd0d0;
  border: 1px solid rgba(207,208,208,0.7);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

  form textarea {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
  }

    form textarea:focus { background: #fff; }

  form ul.optionButtons { float: right; }

  form ul.optionButtons li {
    float: right;
    margin: 0 0 0 12px;
  }

  form button {
    cursor: pointer;
    margin: 12px 0 0 0;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 0.4em 2em;
    color: #fff;
    border: none;
  }


/* -----------------------------------------
   Comment Form
----------------------------------------- */

.commentBody form { margin: 0; }

.commentBody textarea {
  width: 100%;
  font-size: 14px;
  height: 14px;
  color: #222;
}


/* -----------------------------------------
   Ticket Form
----------------------------------------- */

#ticketForm form {
  padding: 20px 30px;
  margin-bottom: 0px;
  cursor: default;
}

  #ticketForm form input[type="text"], #ticketForm form textarea {
    font-size: 14px;
  }

  #ticketForm form input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
  }

  #ticketForm form textarea {
    width: 100%;
    height: 150px;
  }

  #ticketForm form .seperator {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #cfd0d0;
    border-bottom: 1px solid rgba(207,208,208,0.7);
  }


/* -----------------------------------------
   Login Form
----------------------------------------- */

#loginForm { padding: 20px 30px; }

  #loginForm h2 {
    font-size: 38px;
    text-align: center;
  }

  #loginForm li {
    margin: 20px 0;
    text-align: center;
  }

/* -----------------------------------------
   CSS3 Social Login Buttons
   https://github.com/necolas/css3-social-signin-buttons
----------------------------------------- */

/*
 * Button Object
 */

/*
 * 1. Corrects inability to style clickable 'input' types in iOS
 * 2. Remove excess padding in IE6/7
 * 3. IE6/7 inline-block hack for native block-level elements
 */

.btn-auth {
    position: relative;
    display: inline-block;
    height: 22px;
    padding: 0 1em;
    border: 1px solid #999;
    border-radius: 2px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    color: #222;
    background: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /* iOS */
    -webkit-appearance: none; /* 1 */
    /* IE6/7 hacks */
    *overflow: visible;  /* 2 */
    *display: inline; /* 3 */
    *zoom: 1; /* 3 */
}

.btn-auth:hover,
.btn-auth:focus,
.btn-auth:active {
    text-decoration: none;
}

.btn-auth:before {
    content: "";
    float: left;
    width: 22px;
    height: 22px;
    background: url('/img/assets/auth-icons.png') no-repeat 99px 99px;
}

/*
 * 36px
 */

.btn-auth.large {
    height: 36px;
    line-height: 36px;
    font-size: 20px;
}

.btn-auth.large:before {
    width: 36px;
    height: 36px;
}

/*
 * Remove excess padding and border in FF3+
 */

.btn-auth::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Twitter
   ========================================================================== */

.btn-twitter {
    border-color: #a6cde6;
    color: #327695;
    background: #cfe4f0;
    /* css3 */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f5f7), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(#f1f5f7, rgba(255,255,255,0));
    background-image: -moz-linear-gradient(#f1f5f7, rgba(255,255,255,0));
    background-image: -ms-linear-gradient(#f1f5f7, rgba(255,255,255,0));
    background-image: -o-linear-gradient(#f1f5f7, rgba(255,255,255,0));
    background-image: linear-gradient(#f1f5f7, rgba(255,255,255,0));
    text-shadow: 1px 0 0 #bcd3df;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

.btn-twitter:hover,
.btn-twitter:focus {
    border-color: #8dc2e4;
    background-color: #cadde9;
}

.btn-twitter:active {
    background: #cadde9;
    -webkit-box-shadow: inset 0 1px 0 #bbd6e7;
    box-shadow: inset 0 1px 0 #bbd6e7;
}

/*
 * Icon
 */

.btn-twitter:before {
    margin: 0 0.6em 0 -0.6em;
    background-position: -22px 0;
}

.btn-twitter.large:before {
    background-position: -36px -22px;
}


.btn-github.large:before {
    background-position: -72px -22px;
}

.btn-github.large:hover:before,
.btn-github.large:focus:before,
.btn-github.large:active:before {
    background-position: -108px -22px;
}


/* Following is to make error boxes look cleaner,
 * and is from twitter bootstrap.
 * http://twitter.github.com/bootstrap/
 */

.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.alert-message {
  position: relative;
  padding: 7px 15px;
  margin-bottom: 18px;
  color: #404040;
  background-color: #eedc94;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.close {
  float: right;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=25);
  -khtml-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
}

.close:hover {
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}

.alert-message .close {
  font-family: Arial, sans-serif;
  line-height: 12px;
}

.alert-message .close {
  margin-top: 1px;
}


/* alert-message styles */
#alert {
  position: fixed;
  width: 100%;
  z-index: 300;
}

  #alert div.alert {
    margin: 0 auto;
    width: 45%;
    padding: 6px 12px;
    z-index: 301;
  }

  #alert div.alert p {
    margin-bottom: 0px;
    text-align: center;
    font-family: "museo-slab", "American Typewriter", "serif";
    font-size: 14px;
  }

  #alert div.alert.error p {
    font-weight: bold;
    color: #D0D0D0;
  }
