
/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Gradients
:: Effects
:: Typeography
:: Header
:: Ticket Structure
:: Ticket Items
:: Ticket Admin
:: Comments
:: Markdown Styles
:: Forms
:: Comment Form
:: Ticket Form
:: Login Form
:: CSS3 Social Login Buttons
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

html, body {
  background: #000 url('/img/assets/black_linen_v2.png');
  color: #222;
}

#border {
  background: url('/img/assets/header.png') repeat-x;
  height: 29px;
  position: relative;
  z-index: 101;
}

.container {
  position: relative;
  z-index: 100;
}

.left { float: left; }
.right { float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

::-webkit-input-placeholder { color: #b2b2b2; }
:-moz-placeholder { color: #b2b2b2; }

#main {
  position: fixed;
  left: 185px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 50px 0;
}

input[type="text"] {
  border: 1px solid #cfd0d0;
  border: 1px solid rgba(207,208,208,0.7);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"] { outline: none; }
textarea { resize: none; }

/* -----------------------------------------
   Gradients
----------------------------------------- */

.green {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.yellow {
  background: rgb(234,241,112);
  background: -moz-linear-gradient(top,  rgba(234,241,112,1) 0%, rgba(233,239,134,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,241,112,1)), color-stop(100%,rgba(233,239,134,1)));
  background: -webkit-linear-gradient(top,  rgba(234,241,112,1) 0%,rgba(233,239,134,1) 100%);
  background: -o-linear-gradient(top,  rgba(234,241,112,1) 0%,rgba(233,239,134,1) 100%);
  background: -ms-linear-gradient(top,  rgba(234,241,112,1) 0%,rgba(233,239,134,1) 100%);
  background: linear-gradient(top,  rgba(234,241,112,1) 0%,rgba(233,239,134,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf170', endColorstr='#e9ef86',GradientType=0 );
}

.red {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.silver-horiz {
  background: -moz-linear-gradient(left, rgba(209,209,209,1) 0%, rgba(220,220,220,1) 24%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(209,209,209,1)), color-stop(24%,rgba(220,220,220,1)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(209,209,209,1) 0%,rgba(220,220,220,1) 24%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(209,209,209,1) 0%,rgba(220,220,220,1) 24%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(209,209,209,1) 0%,rgba(220,220,220,1) 24%,rgba(255,255,255,0.2) 100%); /* IE10+ */
  background: linear-gradient(left, rgba(209,209,209,1) 0%,rgba(220,220,220,1) 24%,rgba(255,255,255,0.2) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#33ffffff',GradientType=1 ); /* IE6-9 */
}

.silver-vert {
  background: -moz-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(213,213,213,1) 21%, rgba(229,229,229,0.41) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,209,209,1)), color-stop(21%,rgba(213,213,213,1)), color-stop(100%,rgba(229,229,229,0.41))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(209,209,209,1) 0%,rgba(213,213,213,1) 21%,rgba(229,229,229,0.41) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(209,209,209,1) 0%,rgba(213,213,213,1) 21%,rgba(229,229,229,0.41) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(209,209,209,1) 0%,rgba(213,213,213,1) 21%,rgba(229,229,229,0.41) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(209,209,209,1) 0%,rgba(213,213,213,1) 21%,rgba(229,229,229,0.41) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#69e5e5e5',GradientType=0 ); /* IE6-9 */
}

/* -----------------------------------------
   Effects
----------------------------------------- */

.shadow {
  -moz-box-shadow: 4px 1px 6px 3px #222222;
  -webkit-box-shadow: 4px 1px 6px 3px #222222;
  box-shadow: 4px 1px 6px 3px #222222;
  filter: progid:DXImageTransform.Microsoft.Shadow(strength=4, direction=135, color='#222222');
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=4, Direction=135, Color='#222222')";
}

.lightShadow {
  -webkit-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.75);
}

.paper { background: #fff url('/img/assets/handmadepaper.png'); }

/* -----------------------------------------
   Typeography
----------------------------------------- */

p { line-height: 1.5em; }

.marker {
  font-family: "skippy-sharp", "cursive";
  font-weight: 400;
  font-size: 27px;
  line-height: 1em;
  color: #222;
}

.written {
  font-family: "museo-slab", "American Typewriter", "serif";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5em;
  color: #222;
}

/* -----------------------------------------
   Header
----------------------------------------- */

#top {
  position: relative;
  width: 100%;
  z-index: 200;
}

  #options {
    position: relative;
    width: 100%;
    height: 20px;
    z-index: 201;
    background: rgb(174,175,175);
    background: -moz-linear-gradient(top,  rgba(174,175,175,1) 0%, rgba(216,216,216,1) 30%, rgba(216,216,216,1) 70%, rgba(174,175,175,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,175,175,1)), color-stop(30%,rgba(216,216,216,1)), color-stop(70%,rgba(216,216,216,1)), color-stop(100%,rgba(174,175,175,1)));
    background: -webkit-linear-gradient(top,  rgba(174,175,175,1) 0%,rgba(216,216,216,1) 30%,rgba(216,216,216,1) 70%,rgba(174,175,175,1) 100%);
    background: -o-linear-gradient(top,  rgba(174,175,175,1) 0%,rgba(216,216,216,1) 30%,rgba(216,216,216,1) 70%,rgba(174,175,175,1) 100%);
    background: -ms-linear-gradient(top,  rgba(174,175,175,1) 0%,rgba(216,216,216,1) 30%,rgba(216,216,216,1) 70%,rgba(174,175,175,1) 100%);
    background: linear-gradient(top,  rgba(174,175,175,1) 0%,rgba(216,216,216,1) 30%,rgba(216,216,216,1) 70%,rgba(174,175,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeafaf', endColorstr='#aeafaf',GradientType=0 );
    border-bottom: 1px solid #333;
    -webkit-box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 6px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 6px rgba(50, 50, 50, 0.75);
  }

  #tabs {}

    header.row {
      position: relative;
      z-index: 200;
    }

      header nav {
        position: absolute;
        width: 100%;
      }

    header ul { margin: 0; }

      header li {
        position: relative;
        background: #fff;
        float: left;
        margin: 0 1em 0 0;
        padding: 8px 0 12px 0;
        width: 138px;
        text-align: center;
        color: #222;
        cursor: pointer;
      }

        header li:last-child { margin-right: 0; }

        header li.pullTab { padding: 0; }

        header ul#assignees {
          display: none;
          background: #fff;
          padding: 0;
          z-index: 300;
          margin: 0;
        }

          header li.pullTab span.tab { display: block; }

          header li.assign {
            margin: 0;
            padding: 8px 10px;
            width: 118px;
            border-bottom: 1px solid #cfd0d0;
            border-bottom: 1px solid rgba(207,208,208,0.7);
            cursor: move;
          }

            header li.assign span { display: block; }

            header li.assign span.name {
              float: left;
              margin-right: 6px;
              line-height: 41px;
            }

            header li.assign span.miniAvatar { float: right; }


/* -----------------------------------------
   Ticket Structure
----------------------------------------- */

.ticket {
  position: relative;
  margin-bottom: 50px;
}

  .ticket .avatar a {
    display: block;
    position: relative;
    width: 67px;
    padding: 5px;
    text-align: center;
    z-index: 200;
  }

    .ticket .avatar a img {
      display: block;
      width: 65px;
      height: 65px;
      margin: 0 auto 4px auto;
      border: 1px solid #cfd0d0;
      border: 1px solid rgba(207,208,208,0.7);
      z-index: 201;
    }

    .ticket .avatar a span {
      display: block;
      font-weight: 700;
    }

  .ticket .ticketInfo { z-index: 300; }

    .ticketInfo.hover { cursor: pointer; }

    .ticket .ticketHeader {
      position: relative;
      padding: 10px 20px 8px 20px;
    }

      /* Notification */
      .ticketHeader.notify:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-width: 0 15px 15px 0;
        border-style: solid;
        border-color: #ddd #222;
        -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
        -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
        box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
      }

      .ticketHeader .ticketName h2 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 1.5em;
      }

      .ticketHeader .ticketName span.timestamp {
        font-size: 14px;
        color: #626262;
      }

      .ticketHeader ul { margin-bottom: 0; }

        .ticketHeader ul li {
          float: left;
          margin: 0 10px 0 0;
        }

          .ticketHeader li:last-child { margin-right: 0; }

    .ticket .ticketBody {
      width: 78%;
      margin: 0 20px;
      padding-top: 12px;
      border-top: 1px solid #cfd0d0;
      border-top: 1px solid rgba(207,208,208,0.7);
    }

      .ticketBody ul.ticketAdmin {
        position: absolute;
        right: 20px;
      }

    .ticket .ticketFooter {
      width: 78%;
      margin: 40px 20px 0 20px;
    }

    .ticket .ticketFooter .lists,
    .ticket .ticketFooter .projects {
      border-top: 1px solid #cfd0d0;
      margin: 0;
      width: 100%;
    }

      .ticket .ticketFooter .lists li,
      .ticket .ticketFooter .projects li {
        display: block;
        margin: 4px 2px;
        padding: 2px 4px;
        float: left;
        border: 1px solid #cfd0d0;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
      }

      .ticket .ticketFooter .projects li {
        background: rgb(88,174,244); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(88,174,244,1) 0%, rgba(145,202,251,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(88,174,244,1)), color-stop(100%,rgba(145,202,251,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(88,174,244,1) 0%,rgba(145,202,251,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(88,174,244,1) 0%,rgba(145,202,251,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(88,174,244,1) 0%,rgba(145,202,251,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(88,174,244,1) 0%,rgba(145,202,251,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58aef4', endColorstr='#91cafb',GradientType=0 ); /* IE6-9 */
      }

      .ticket .ticketFooter .lists li {
        background: -moz-linear-gradient(top, rgba(100,228,217,0.8) 0%, rgba(144,235,228,0.71) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,228,217,0.8)), color-stop(100%,rgba(144,235,228,0.71))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(100,228,217,0.8) 0%,rgba(144,235,228,0.71) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(100,228,217,0.8) 0%,rgba(144,235,228,0.71) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(100,228,217,0.8) 0%,rgba(144,235,228,0.71) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(100,228,217,0.8) 0%,rgba(144,235,228,0.71) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc64e4d9', endColorstr='#b590ebe4',GradientType=0 ); /* IE6-9 */
      }

/* -----------------------------------------
   Ticket Items
----------------------------------------- */

span.miniAvatar {
  position: relative;
  display: block;
  padding: 2px;
  background: #fff;
  border: 1px solid #cfd0d0;
  border: 1px solid rgba(207,208,208,0.7);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

  figure.poof {
    display:block;
    position: absolute;
    bottom: -15px;
    right: -10px;
    width: 32px;
    height: 32px;
    background: url('/img/assets/poof.png') no-repeat 0 0;
  }

  span.miniAvatar img {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #cfd0d0;
    border: 1px solid rgba(207,208,208,0.7);
  }

span.tape {
  display: block;
  width: 51px;
  height: 47px;
  position: absolute;
  top: -17px;
  left: -22px;
  background: url('/img/assets/tape.png') top left no-repeat;
  z-index: 202;
}

span.tack {
  display: block;
  position: absolute;
  width: 29px;
  height: 26px;
  top: -15px;
  left: -8px;
}

  span.tack.read { background: url('/img/assets/tack-yellow.png') no-repeat; }
  span.tack.unread { background: url('/img/assets/tack-red.png') no-repeat; }
  span.tack.closed { background: url('/img/assets/tack-green.png') no-repeat; }

/* Ticket Meta */

.ticketInfo ul.ticketMeta {
  position: absolute;
  bottom: 12px;
  right: 20px;
  margin: 0;
  height: 24px;
}

  .ticketInfo ul.ticketMeta li {
    float: right;
    margin: 0 0 0 12px;
  }

    ul.ticketMeta li.chat {
      width: 24px;
      height: 22px;
      background: url('/img/assets/08-chat.png') no-repeat;
      color: #fff;
      font-size: 10px;
      line-height: 1.75em;
      text-align: center;
    }

    ul.ticketMeta li.gears {
      position: relative;
      width: 20px;
      height: 23px;
      background: url('/img/assets/gears.png') no-repeat;
      cursor: pointer;
    }

      ul.ticketMeta li.gears ul {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid rgba(85,85,85,0.4);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: rgb(250,250,250);
        background: -moz-radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 30%, rgba(220,220,220,1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%,rgba(250,250,250,1)), color-stop(100%,rgba(220,220,220,1)));
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 30%,rgba(220,220,220,1) 100%);
        background: -o-radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 30%,rgba(220,220,220,1) 100%);
        background: -ms-radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 30%,rgba(220,220,220,1) 100%);
        background: radial-gradient(center, ellipse cover,  rgba(250,250,250,1) 30%,rgba(220,220,220,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dcdcdc',GradientType=1 );
      }

        ul.ticketMeta li.gears ul li {
          width: 100px;
          margin: 0px;
          padding: 4px 8px;
          border-bottom: 1px solid rgba(120,120,120,0.4);
          border-top: 1px solid rgba(235,235,235,0.3);
          -webkit-transition: background-color 0.4s ease;
          -moz-transition: background-color 0.4s ease;
        }

        ul.ticketMeta li.gears ul li:hover {
          background-color: #C8C8C8;
        }

          ul.ticketMeta li.gears ul li:first-child { border-top: none; }
          ul.ticketMeta li.gears ul li:last-child { border-bottom: none; }

/* -----------------------------------------
   Ticket Admin
----------------------------------------- */

#ticketOptions {
  z-index: 299;
  margin-bottom: 0;
}

#ticketOptions li {
  float: left;
  margin: 0 2em 0 0;
  padding: 0.6em 1.8em;
  font-size: 16px;
  color: #222;
  cursor: pointer;
}

  #ticketOptions li:last-child { margin-right: 0; }


/* -----------------------------------------
   Comments
----------------------------------------- */

.comment { margin-bottom: 35px; }

  .comment .commentBody { position: relative; }

    .commentBody .commentAvatar {
      float: left;
      padding: 8px;
    }

    .commentBody .commentInfo {
      float: left;
      padding: 8px 0 8px 8px;
      width: 72%;
    }

      .commentInfo > h5 {
        font-size: 14px;
        font-weight: 600;
      }

      .commentInfo p { line-height: 1.5em; }

      .commentInfo div p:last-child { margin-bottom: 0; }
      .commentInfo div p:first-child { margin-top: 0; }

    .commentBody span.commentTime {
      display: block;
      position: absolute;
      bottom: 12px;
      right: 12px;
      color: #626262;
      font-size: 12px;
    }

    .commentBody ul.commentOptions {
      position: absolute;
      top: 8px;
      right: 8px;
    }

      .commentBody ul.commentOptions li {
        cursor: pointer;
        float: left;
        margin: 0 0 0 12px;
      }

        .commentBody ul.commentOptions li.edit {
          width: 15px;
          height: 14px;
          background: url('/img/assets/pencil.png') no-repeat;
        }

        .commentBody ul.commentOptions li.delete {
          font-family: Arial, sans-serif;
          color: #000000;
          font-size: 22px;
          font-weight: bold;
          line-height: 11px;
          text-shadow: 0 1px 0 #ffffff;
        }


/* -----------------------------------------
   Markdown Styles
----------------------------------------- */

.md > h2:first-child, .md > h1:first-child, .md > h1:first-child + h2 {
  border: 0;
  margin: 0;
  padding: 0;
  border-image: initial;
}

.md > :first-child { margin-top: 0!important; }

.md h1 {
  margin: 15px 0;
  padding-bottom: 2px;
  font-size: 24px;
  border-bottom: 1px solid #EEE;
}

.md h2 {
  margin: 20px 0 10px 0;
  font-size: 18px;
}

.md h3, .md h4, .md h5, .md h6 {
  margin: 20px 0 10px 0;
  padding-bottom: 2px;
  font-size: 14px;
}

.md h4, .md h5, .md h6 {
  font-weight: normal;
}

.md blockquote p {
  margin: 0;
}

.md p { margin: 1em 0; }

  .md p strong { font-weight: 700; }

.md pre {
  margin: 0 0 18px 0;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-image: initial;
}

 .md pre code { border: none; }

.md code, .md tt {
  margin: 0 2px;
  padding: 2px 5px;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  background-color: #F8F8F8;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-image: initial;
}

  .md code, .md pre { font: 12px 'Bitstream Vera Sans Mono','Courier', monospace; }

.md > ul, .md > .document > ul, .md > ol, .md > .document > ol {
  margin-top: 21px;
  margin-left: 36px;
  list-style: disc;
}

.md > ol, .md > .document > ol {
  list-style: decimal;
}

  .md ul, .md ol { margin: 15px 0 15px 25px; }

    .md ul li, .md ol li {
      margin-top: 7px;
      margin-bottom: 7px;
    }

    .md ul li > :first-child, .md ol li > :first-child { margin-top: 0; }

    .md ul li > :last-child, .md ol li > :last-child { margin-bottom: 0; }


/* -----------------------------------------
   Forms
----------------------------------------- */

form .outerWrap {
  padding: 8px;
  background: #fff;
  border: 1px solid #cfd0d0;
  border: 1px solid rgba(207,208,208,0.7);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

  form textarea {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
  }

    form textarea:focus { background: #fff; }

  form ul.optionButtons { float: right; }

  form ul.optionButtons li {
    float: right;
    margin: 0 0 0 12px;
  }

  form button {
    cursor: pointer;
    margin: 12px 0 0 0;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 0.4em 2em;
    color: #fff;
    border: none;
  }


/* -----------------------------------------
   Comment Form
----------------------------------------- */

.commentBody form { margin: 0; }

.commentBody textarea {
  width: 100%;
  font-size: 14px;
  height: 14px;
  color: #222;
}


/* -----------------------------------------
   Ticket Form
----------------------------------------- */

#ticketForm form {
  padding: 20px 30px;
  margin-bottom: 0px;
  cursor: default;
}

  #ticketForm form input[type="text"], #ticketForm form textarea {
    font-size: 14px;
  }

  #ticketForm form input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
  }

  #ticketForm form textarea {
    width: 100%;
    height: 150px;
  }

  #ticketForm form .seperator {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #cfd0d0;
    border-bottom: 1px solid rgba(207,208,208,0.7);
  }


/* -----------------------------------------
    Dialog Boxes
----------------------------------------- */
.dialog {
  position: fixed;
  top: -50%;
  left: 30%;
  z-index: 4000;
  background: #FFF url('/img/assets/handmadepaper.png');
  padding: 8px 10px;
  border: 3px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 18px #444;
  color: #666;
  font-family: "meseo-slab", "American Typewriter", "serif";
  font-weight: 300;
  overflow: hidden;
}

  .dialog:after {
    content: " ";
    display: block;
    clear:both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }

  .dialog h1 {
    font-size: 24px;
    border-bottom: 1px solid #AAA;
    margin: 0 0 6px 0;
    color: #222;
  }

  .dialog h2 {
    font-size: 16px;
    color: #444;
    margin-bottom: 4px;
  }

  .dialog p {
    font-size: 12px;
    margin: 0;
  }

  .dialog pre {
    line-height: 14px;
    background-color: #EEE;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 4px;
    margin: 0 0 10px 0;
  }

  .dialog .column {
    width: 220px;
    float: left;
    margin: 0 auto;
    margin-right: 10px;
  }

    .dialog .column pre:last-child {
      margin: 0;
    }

    .dialog .column:last-child {
      margin: 0;
    }

  .dialog .close {
    position: absolute;
    top: 7px;
    right: 6px;
  }



/* -----------------------------------------
   Toolbars
----------------------------------------- */

.admin-bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 199;
  width: 184px;
  background: #222;
  border-right: 1px solid rgba(85, 85, 85, 0.2);
}

  #toolbar form {
    min-width: 400px;
    margin: 8px 14px 0 14px;
  }

    #toolbar form:after {
      content: ' ';
      visibility: hidden;
      font-size: 0;
      clear: both;
      display: block;
    }

    #toolbar form textarea {
      border: 1px solid #C0C0C0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    #toolbar form input {
      padding: 4px;
      border: 1px solid #C0C0C0;
      margin-bottom: 8px;
      width: 100%;
    }

  .admin-bar ul.create-options {
    padding: 0;
    margin: 0;
  }

    .admin-bar ul.create-options li {
      font-size: 16px;
      padding: 4px 0;
      text-align: center;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      margin: 8px 6px;
    }

  .admin-bar ul.options {
    margin: 15px 0;
  }

    .admin-bar .toolbar-element {
      margin: 0;
      padding: 0;
    }

      .admin-bar .toolbar-element .options {
        display: block;
        font-size: 14px;
        margin: 0;
        color: #f6f6f6;
        border-top: 1px solid #111;
      }

        .admin-bar .toolbar-element .options:after {
          content: ' ';
          clear: both;
          visibility: hidden;
          font-size: 0;
          height: 0;
          display: block;
        }

          .admin-bar .toolbar-element .options .title {
            padding: 4px 6px;
            margin: 0;
            border-top: 1px solid rgba(85, 85, 85, 0.2);
            color: #ddd;
            text-shadow: 0 -1px -1px rgba(85, 85, 85, 0.8);
            font-size: 16px;
            font-weight: 400;
          }

        .admin-bar .toolbar-element .group {
          margin: 0;
          padding: 0;
        }

          .admin-bar .toolbar-element .group li {
            position: relative;
            padding: 4px 6px 4px 20px;
            margin: 0;
            border-top: 1px solid rgba(85, 85, 85, 0.2);
            border-bottom: 1px solid #111;
            color: #ddd;
            text-shadow: 0 -1px -1px rgba(85, 85, 85, 0.8);
            font-size: 13px;
            min-width: 148px;
            background: #222;
          }

            .admin-bar .toolbar-element .group .active {
              background: #333;
            }

            .admin-bar .toolbar-element .group li:first-child {
              border-top: none;
            }

            .admin-bar .toolbar-element .group li:last-child {
              border-bottom: none;
            }

    .admin-bar .toolbar-element .close {
      position: absolute;
      top: 0;
      right: 4px;
      margin: 0;
      line-height: inherit;
      font-size: 24px;
    }

      .admin-bar .toolbar-element:after {
        content: ' ';
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
        display: block;
      }

        .admin-bar .toolbar-element .group .assign {
          cursor: move;
          padding-left: 6px;
          font-size: 24px;
        }

        .admin-bar .toolbar-element .assign .miniAvatar {
          float: left;
        }

        .admin-bar .toolbar-element .assign .name {
          margin-left: 8px;
          line-height: 41px;
        }

/* -----------------------------------------
   Login Form
----------------------------------------- */

#loginForm { padding: 20px 30px; }

  #loginForm h2 {
    font-size: 38px;
    text-align: center;
  }

  #loginForm li {
    margin: 20px 0;
    text-align: center;
  }

/* -----------------------------------------
   CSS3 Social Login Buttons
   https://github.com/necolas/css3-social-signin-buttons
----------------------------------------- */

/*
 * Button Object
 */

/*
 * 1. Corrects inability to style clickable 'input' types in iOS
 * 2. Remove excess padding in IE6/7
 * 3. IE6/7 inline-block hack for native block-level elements
 */

.btn-auth {
    position: relative;
    display: inline-block;
    height: 22px;
    padding: 0 1em;
    border: 1px solid #999;
    border-radius: 2px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    color: #222;
    background: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /* iOS */
    -webkit-appearance: none; /* 1 */
    /* IE6/7 hacks */
    *overflow: visible;  /* 2 */
    *display: inline; /* 3 */
    *zoom: 1; /* 3 */
}

.btn-auth:hover,
.btn-auth:focus,
.btn-auth:active {
    text-decoration: none;
}

.btn-auth:before {
    content: "";
    float: left;
    width: 22px;
    height: 22px;
    background: url('/img/assets/logo.png') no-repeat;
}

/*
 * 36px
 */

.btn-auth.large {
    height: 36px;
    line-height: 36px;
    font-size: 20px;
}

.btn-auth.large:before {
    width: 36px;
    height: 36px;
}

/*
 * Remove excess padding and border in FF3+
 */

.btn-auth::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* TxSSC
   ========================================================================== */

.btn-txssc {
    border-color: #d4d4d4;
    background: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -webkit-linear-gradient(#f4f4f4, #ececec);
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
}

.btn-txssc:hover,
.btn-txssc:focus {
    border-color: #d4d4d4;
    background: #dbdbdb;
    color: #222;
    background-color: #e3e3e3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e3e3e3), to(#dbdbdb));
    background-image: -webkit-linear-gradient(#e3e3e3, #dbdbdb);
    background-image: -moz-linear-gradient(#e3e3e3, #dbdbdb);
    background-image: -ms-linear-gradient(#e3e3e3, #dbdbdb);
    background-image: -o-linear-gradient(#e3e3e3, #dbdbdb);
    background-image: linear-gradient(#e3e3e3, #dbdbdb);
}

.btn-txssc:active {
    border-color: #d4d4d4;
    background: #dbdbdb;
    color: #222;
    background-color: #e3e3e3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e3e3e3), to(#dbdbdb));
    background-image: -webkit-linear-gradient(#e3e3e3, #dbdbdb);
    background-image: -moz-linear-gradient(#e3e3e3, #dbdbdb);
    background-image: -ms-linear-gradient(#e3e3e3, #dbdbdb);
    background-image: -o-linear-gradient(#e3e3e3, #dbdbdb);
    background-image: linear-gradient(#e3e3e3, #dbdbdb);
}

/*
 * Icon
 */

.btn-txssc:before {
    margin: 5px 0.6em 0 -0.6em;
    background-position: 0 0;
}

.btn-txssc.large:before {
    background-position: 0 0;
}


.btn-github.large:before {
    background-position: 0 0;
}

.btn-github.large:hover:before,
.btn-github.large:focus:before,
.btn-github.large:active:before {
    background-position: 0 0;
}


/* Following is to make error boxes look cleaner,
 * and is from twitter bootstrap.
 * http://twitter.github.com/bootstrap/
 */

.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.alert-message {
  position: relative;
  padding: 7px 15px;
  margin-bottom: 18px;
  color: #404040;
  background-color: #eedc94;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.close {
  float: right;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=25);
  -khtml-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
}

.close:hover {
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}

.alert-message .close {
  font-family: Arial, sans-serif;
  line-height: 12px;
}

.alert-message .close {
  margin-top: 1px;
}


/* alert-message styles */
#alert {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}

  #alert div.alert {
    margin: 0 auto;
    width: 45%;
    padding: 6px 12px;
    z-index: 301;
  }

  #alert div.alert p {
    margin-bottom: 0px;
    text-align: center;
    font-family: "museo-slab", "American Typewriter", "serif";
    font-size: 14px;
  }

  #alert div.alert.error p {
    font-weight: bold;
    color: #D0D0D0;
  }

/* Notification Styles */

#notification {
  padding: 0.5em 2em 0.5em 0;
  color: #404040;
  background-color: #eedc94;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  border-top: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

  #notification .notificationText {
    width: 45%;
    margin: 0 auto;
    float: right;
  }

  #notification p {
    margin: 0 2em 0 0;
    padding: 6px 0 0 0;
    text-align: right;
    font-size: 12px;
  }

  #notification button {
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,"Lucida Grande",sans-serif;
    display: inline-block;
    float: right;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));
    background: -webkit-linear-gradient(#F9F9F9 40%,#E3E3E3 70%);
    background: -moz-linear-gradient(#F9F9F9 40%,#E3E3E3 70%);
    background: -ms-linear-gradient(#F9F9F9 40%,#E3E3E3 70%);
    background: -o-linear-gradient(#F9F9F9 40%,#E3E3E3 70%);
    background: linear-gradient(#F9F9F9 40%,#E3E3E3 70%);
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 8px;
    outline: 0;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px white;
    font-weight: 700;
    font-size: 12px;
  }
