doctype html
html(lang="en")
  head
    style(type='text/css').
      ul {
        margin-top: 2em;
      }

      li {
        font-style: italic;
        text-decoration: underline;
      }

  body
    h3 You have updates on your tickets!
    p Please visit the <a href="http://tickets.txssc.com/#tickets/mine">ticket system</a> to view them.

    ul
      each ticket in tickets
        li= ticket.title
