<div class="header">
  {{#isOpen}}
  <ul class="actions left">
    <li><a title="Close" href="#" data-action="close">Close</a></li>
  </ul>
  {{/isOpen}}
  <ul class="actions right">
    <li><a title="Edit" href="#" data-action="edit">Edit</a></li>
    <li><a title="Delete" href="#" data-action="delete">Delete</a></li>
  </ul>
</div>
<div class="additional">
  <ul class="meta-options">
    <li><input data-action="assign-user" type="text" placeholder="Assign user..."></li>
    <li><input data-action="assign-task" type="text" placeholder="Assign task..."></li>
  </ul>
</div>