<div class="header">
  <ul class="left-options">
    <li data-action="close">Close</li>
  </ul>
  <ul class="right-options">
    <li data-action="edit">Edit</li>
    <li data-action="delete">Delete</li>
  </ul>
</div>
<div class="additional">
  <ul class="meta-options">
    <li data-action="assign">
      <input type="text" name="assign" placeholder="Assign user...">
    </li>
    <li data-action="list">
      <input type="text" name="list-id" placeholder="Assign task...">
    </li>
  </ul>
</div>