// --------------------------------------
// Comments
// --------------------------------------

.comment {
  .clearfix;
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid @border;

  &:last-child {
    border-bottom: none;
  }

  .avatar {
    float: left;

    img {
      display: block;
      border-radius: 1000px;
      .size(35px, 35px);
    }
  }

  .body {
    margin-left: 55px;

    .commentHeader {
      position: relative;
      padding-bottom: 8px;

      h5 {
        display: inline-block;
        margin: 0;
        color: @darkGray;
	font-weight: 700;
        font-size: 14px;
      }

      time {
        float: right;
        font-size: 14px;
      }
    }
  }

  .timestamp {
    float: right;
  }

  .edit-actions {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 4px;
    right: 4px;
    list-style: none;

    li {
      float: left;
      margin-left: 8px;

      a {
        color: @lightGray;
        text-decoration: none;

        &:hover {
          color: darken(@lightGray, 20%);
        }
      }
    }
  }
}