.login-form {
  position: relative;
  top: 96px;
  margin: 0 auto;
  width: 520px;
  padding: 1.6em 0;
  border-radius: 2px;
  border: 1px solid #666;
  background: #EEE;

  h2 {
    margin: 0 0 0.4em 0;
    text-align: center;
    .marker(38px, 400);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      display: block;
      text-align: center;
    }
  }
}