.view-header {
  width: 100%;
  padding: 8px 10px;
  border-bottom: 1px solid #010101;
  .clearfix();
  .box-sizing(border-box);
  .vertical-gradient(#4C4C4C, #111);
  .box-shadow(~"0 1px 8px rgba(0, 0, 0, 0.66), inset 0 0 4px rgba(0, 0, 0, 0.50)");

  .title {
    margin: 0;
    padding: 0;
    float: left;
    color: #D2D2D2;
    .written(28px, 400);
  }

  .options {
    margin: 0;
    padding: 0;
    float: right;

    li {
      display: block;
    }
  }
}