// --------------------------------------
// Panels
// --------------------------------------

#panel-two {
  border-right: 1px solid @border;
}

#panel-three {
  .panel-three {
    height: 100%;
  }
}

#panel-two,
#panel-three {
  .view-filler {
    font-size: 18px;
    padding: 20px 20px;

    p {
      line-height: 1;
      margin: 0;
    }
  }
}