// --------------------------------------
// Panels
// --------------------------------------

[role=panelTwo] {
  border-right: 1px solid @border;
  overflow-y: scroll;
}

[role=panelThree] {
  overflow-y: scroll;

  .nothing-selected {
    font-size: 18px;
    padding: 10px 20px;
  }
}