// --------------------------------------
// Sidebar
// --------------------------------------

[role=sidebar] {
  .box-shadow(~"inset 0 0 8px 2px rgba(0, 0, 0, .22)");
}

.sidebar {
  .options {
    margin: 15px 0;
  }

  .option-set {
    margin: 0;
    padding: 0 0 25px 0;
    color: @sidebarText;
    border-bottom: 1px solid @sidebarSeperator;

    &.last {
      border-bottom: none;
    }


    .title {
      padding: 8px 20px;
      margin: 0;
      font-weight: 400;
      text-transform: uppercase;
      border-bottom: 1px solid @sidebarSeperator;
      border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    .group {
      margin: 0;
      padding: 0;
      list-style: none;
      border-top: 1px solid rgba(255, 255, 255, 0.08);

      li {
        margin: 0;
        padding: 0;

        a {
          display: block;
          margin: 0;
          padding: 8px 20px;
          font-weight: 600;
          color: @sidebarText;
          text-decoration: none;
          text-shadow: 0 1px 1px rgba(41, 29, 36, 0.8);
          cursor: pointer;
        }

        &.active {
          background: @active;
          .box-shadow(~"inset 0 0 0 1px rgba(255, 255, 255, .15)");

          a {
            color: @white;
          }
        }
      }
    }
  }
}