.sidebar {
  .options {
    margin: 15px 0;
  }

  .option-set {
    display: block;
    font-size: 14px;
    margin: 0;
    color: #f6f6f6;
    border-top: 1px solid #111;

    .title {
      padding: 4px 6px;
      margin: 0;
      border-top: 1px solid rgba(85, 85, 85, 0.2);
      color: #ddd;
      text-shadow: 0 -1px -1px rgba(85, 85, 85, 0.8);
      .written(16px, 400);
    }

    .group {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        display: block;
        position: relative;
        padding: 4px 6px 4px 20px;
        border-top: 1px solid rgba(85, 85, 85, 0.2);
        border-bottom: 1px solid #111;
        text-shadow: 0 -1px -1px rgba(85, 85, 85, 0.8);
        background: @lightBlack;
        cursor: pointer;
        .written(13px);

        a,
        a:hover,
        a:visited {
          color: #ddd;
          text-decoration: none;
        }

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      .active {
        background: (@lightBlack + #111);
      }
    }
  }
}