.ticket-list {
  position: relative;
  width: 100%;
  margin: 0 auto;

  .ticket {
    margin-bottom: 10px;
    .vertical-gradient(#cccccc, #efefef);

    &:hover {
      .vertical-gradient(#efefef, #dfdfdf);
    }
  }
}