// widget styles that are context independent
.widget {
  margin: 8px 0 0 0;
  padding: 0;
  list-style: none;

  .close {
    color: #444;
    float: right;
    cursor: pointer;
    font-family: Arial;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
    .opacity(68);

    &:hover {
      .opacity(100);
    }
  }

  .results-list {
    display: none;

    li {
      cursor: pointer;

      &:hover {
        background: #D3D3D3;
      }
    }
  }

  .input-wrapper {
    margin-top: 10px;
  }

  input {
    width: 100%;
    padding: 4px;
    .box-sizing(border-box);
  }

  // Reset ul/li margins and padding
  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }

  // Widget specific styles
  .user,
  .task {
    display: block;
    margin-top: 2px;
    padding: 4px 8px;
    overflow: hidden;
    border-radius: 4px;
    white-space: nowrap;
    background: #FAFAFA;
    vertical-align: bottom;
    border: 1px solid rgba(0, 0, 0, 0.68);
    .clearfix();
    .written(14px, 400, 28px);

    &:first-child {
      margin: 0;
    }

    img {
      float: left;
      padding: 1px;
      margin-right: 4px;
      display: block;
      border: 1px solid #CCC;
      border-radius: 2px;
      .size(24px, 24px);
    }
  }
}