<div class="dialog">
  <h1>Markdown Guide</h1>
  <a href="#" class="close">&times;</a>
  <div class="column">
    <h2>Text formatting</h2>
    <p>Headers</p>
    <pre>
# This is a header
## This is a smaller header
### An even smaller header
    </pre>
    <p>Styles</p>
    <pre>
*Italic*
_Italic_
**Bold**
__Bold__
***Bold and Italic***
    </pre>
  </div>
  <div class="column">
    <h2>Lists</h2>
    <p>Ordered</p>
    <pre>
1. Item
2. Item
3. Item
   * Item 3a
   * Item 3b
    </pre>
    <p>Unordered</p>
    <pre>
* Item
* Item
  * Nested Item
    </pre>
  </div>
  <div class="column">
    <h2>Other</h2>
    <p>Links</p>
    <pre>
[TxSSC](http://txssc.txstate.edu)
    </pre>
    <p>Images</p>
    <pre>
![Alt Text](URL)
    </pre>
    <p>Blockquotes</p>
    <pre>
> Quote
    </pre>
  </div>
</div>