
<h1>Markdown Guide</h1>
<a href="#" class="close">&times;</a>

<div class="column">
  <h2>Text formatting</h2>
  <h3>Headers</h3>
  <pre>
# This is a header
## This is a smaller header
### An even smaller header</pre>
  <h3>Styles</h3>
  <pre>
*This text will be italic*
_This will also be italic_
**This text will be bold**
__This will also be bold__

*You **can** combine them*</pre>
</div>

<div class="column">
  <h2>Lists</h2>
  <h3>Ordered</h3>
  <pre>
1. Item 1
2. Item 2
3. Item 3
 * Item 3a
 * Item 3b</pre>
  <h3>Unordered</h3>
  <pre>
* Item 1
* Item 2
* Nested Item</pre>
</div>

<div class="column">
  <h2>Other</h2>
  <h3>Links</h3>
  <pre>
[TxState](http://txstate.edu)</pre>
  <h3>Images</h3>
  <pre>
![Alt Text](URL)</pre>
  <h3>Blockquotes</h3>
  <pre>
> Quote</pre>
</div>