<!-- Ticket Creator's Avatar -->
<div class="two columns offset-by-one avatar clearfix">
  <a class="right shadow paper" href="#">
    <span class="tape"></span>
    <img src="{{avatar}}" alt="{{name}}">
    <span class="written">{{shortname}}</span>
  </a>
</div>

<!-- Ticket Form -->
<div class="eight columns ticketInfo shadow paper">
  <span class="tack"></span>
  <div id="ticketForm">
    <form action="#" class="clearfix">
      <div class="seperator">
        <input type="text" name="title" class="written" placeholder="Ticket Name...">
      </div>
      <div class="outerWrap">
        <textarea name="description" class="written" placeholder="Enter a description of your ticket..."></textarea>
      </div>
      <button class="right written green">Create Ticket</button>
    </form>
  </div>
</div> <!-- end of Ticket Form -->