<div class="ticket-content {{statusClass}}">
  <div class="header">
    {{^isEditing}}
      <hgroup>
        <h2 class="title">{{title}}</h2>
        <h4>{{user.name}}</h4>
        {{#fullDate}}
          <h4><a data-role="display-ticket-path" href="#">View Folder</a></h4>
        {{/fullDate}}
      </hgroup>
    {{/isEditing}}

    <div class="attrs">

      {{#fullDate}}
        <time title="{{hoverTime}}" datetime="{{datetime}}">{{fullDate}}</time>
      {{/fullDate}}

      {{^fullDate}}
        <time title="{{hoverTime}}" datetime="{{datetime}}">{{cleanTime}}</time>
      {{/fullDate}}

      {{#showTags}}
        <ul class="tags"></ul>
      {{/showTags}}

    </div>

    {{#isEditable}}
      <ul class="edit-options">
        {{#isAssignable}}
          <li data-role="assign-ticket"><a title="Assign Ticket" data-action="assign" href="#"><i class="icon-pushpin"></i></a></li>
        {{/isAssignable}}
        {{#isClosable}}
          <li data-role="close-ticket"><a title="Close Ticket" data-action="close" href="#"><i class="icon-ok"></i></a></li>
        {{/isClosable}}
        <li><a title="Edit Ticket" data-action="edit" href="#"><i class="icon-edit"></i></a></li>
        <li><a title="Delete Ticket" data-action="delete" href="#"><i class="icon-trash"></i></a></li>
      </ul>
    {{/isEditable}}
  </div>

  {{#description}}
    {{#isFun}}<div class="content md" style="font-family: ComicSans;">{{/isFun}}
    {{^isFun}}<div class="content md">{{/isFun}}
      {{{description}}}
    </div>
  {{/description}}
</div>
