<!-- Ticket Form -->
<form action="#">
  <div class="separator">
    <input type="text" name="title" placeholder="Ticket Name...">
  </div>
  <div class="wrap">
    <textarea name="description" placeholder="Enter a description of your ticket..."></textarea>
  </div>
  <a data-action="display-guide" class="guide" href="#">Markdown Guide</a>
  <ul class="options">
    <li><button data-action="create">Create Ticket</button></li>
    <li><button data-action= "cancel" class="cancel">Cancel</button></li>
  </ul>
</form>