<div class="row comment written">
  <div class="ten columns offset-by-two commentBody shadow paper clearfix">
    <span class="tape"></span>

    <!-- Comment Avatar -->
    <div class="commentAvatar">
      <span class="miniAvatar"><img src="/img/avatars/35x35.gif" alt="placeholder"></span>
    </div>

    <!-- Comment Body -->
    <div class="commentInfo">

      <!-- Form -->
      <form action="#">
        <textarea class="placeholder written" name="ticket_comment" rows="1" placeholder="Enter your comment..."></textarea>
      </form>

    </div>
  </div>
</div>