<!-- Comment Avatar -->
<div class="avatar">
  <img src="{{user.avatar}}" alt="{{user.name}}">
</div>

<!-- Comment Body -->
<div class="body">
  <div class="commentHeader">
    <h5>{{user.name}}</h5>
    <time datetime="{{created_at}}">{{cleanTime}}</time>
  </div>

  <div class="md">
    {{{comment}}}
  </div>
</div>

{{#isDeletable}}
<!-- Comment options -->
<ul class="edit-actions">
  {{#isEditable}}
  <li><a href="#" data-action="edit"><i class="icon-pencil"></i></a></li>
  <li><a href="#" data-action="delete"><i class="icon-trash"></i></a></li>
  {{/isEditable}}
</ul>
{{/isDeletable}}