<!-- Comment Avatar -->
<div class="avatar">
  <img src="{{user.avatar}}" alt="{{user.name}}">
</div>

<!-- Comment Body -->
<div class="body">
  <h5>{{user.name}}:</h5>
  <div class="md">
    {{{comment}}}
  </div>
</div>

<!-- Timestamp -->
<div class="timestamp">
  <time datetime="{{created_at}}">{{created_at}}</time>
</div>

{{#isDeletable}}
<!-- Comment options -->
<ul class="options">
  {{#isEditable}}
  <li data-action="edit">Edit</li>
  <li data-action="delete">Delete</li>
  {{/isEditable}}
</ul>
{{/isDeletable}}