<div class="ten columns offset-by-two commentBody shadow paper clearfix">
  <span class="tape"></span>

  <!-- Comment Avatar -->
  <div class="commentAvatar">
    <span class="miniAvatar"><img src="{{user.avatar}}" alt="{{user.name}}"></span>
  </div>

  <!-- Comment Body -->
  <div class="commentInfo md">
    <h5>{{user.name}}:</h5>
    <div>{{{comment}}}</div>
  </div>

  <!-- Timestamp -->
  <span class="commentTime"><time class="timeago" datetime="{{created_at}}">{{created_at}}</time></span>

</div> <!-- end of commentBody -->